body{
background:#0b0b1a;
color:white;
font-family:Arial;
margin:0;
}

.grid{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:15px;
padding:15px;
}

.card{
background:#17172e;
border-radius:14px;
overflow:hidden;
}

.card img{
width:100%;
height:180px;
object-fit:cover;
}

.info{
padding:10px;
}
